<div class="long-div container">

<h2 class="login-title">Login</h2>
<br><br>
<form class="login-form" action="/login" method="POST">
  <div class="container">
    <label for="username">Username:</label>
    <input type="text" name="username">
  </div>
  <div class="container">
    <label for="password">Password:</label>
    <input type="password" name="password">
  </div>
  <% if (typeof message != "undefined") { %>
    <div class="error-message container"><%= message %></div>
  <% } %>
  <div class="login-button container">
    <button type="submit">Login</button>
  </div>
</form>

</div>
