<h2 class="signup-title">Signup</h2>
<br><br>
<form class="signup-form" action="/signup" method="POST" id="form-container" enctype="multipart/form-data">
  <div class="container">
    <label for="username">Username</label>
    <input id="username" type="text" name="username">
  </div>
  <div class="container">
    <label for="password">Password</label>
    <input id="password" type="password" name="password">
  </div>
  <div class="container">
    <label for="phone">Phone</label>
    <input id="phone" type="number" name="phone">
  </div>
  <div class="container">
    <label for="mail">Email</label>
    <input id="mail" type="email" name="mail">
  </div>
  <div class="image-upload container">
    <label for="avatar"> Avatar </label>
    <input class="button" type="file" name="avatar" id="avatar">
  </div>

  <% if (typeof message !== "undefined") { %>
    <div class="error-message container">
      <%= message %>
    </div>
    <% } %>

      <div class="signup-button container">
        <button>Create account</button>
      </div>
      <br>
      <div class="container">
        <p class="account-message">
          Do you already have an account?
          <a href="/login"><strong>Login</strong></a>
        </p>
      </div>

</form>
