<h1>Hola <%= user.username %></h1>

<h2>List of matches</h2>

<ul>
  <% matches.forEach( match => { %>
    <li>
        <%= match.date %>
    </li>
    <li>
        <%= match.sport %>
    </li>
    <%  }) %>
</ul>

<a href="/">Back home...</a>
