<h1>Hola <%= user.username %></h1>

<h2>List of matches</h2>

<ul>
  <% matches.forEach( match => { %>
    <a href="/dashboard/view"><li>
        <%= match.date%>
        <br>
        <%= match.sport %>
    </li></a>
    <br>
    <%  }) %>
</ul>

<a href="/">Back home...</a>
)
