<h1>Hola <%= user.username %></h1>

<ul>
  <% matches.forEach( m => { %>
    <li>
        <%= m.date %><
    </li>
    <li>
        <%= m.sport %><
    </li>
    <%  }) %>
</ul>

<a href="/">Back home...</a>
