  <!-- views/auth/signup.ejs -->
<h2>Create a new match</h2>

<form action="/dashboard/new" method="POST" id="form-container">
  <label for="date">Date</label>
  <input id="date" type="date" name="date" placeholder="JonSnow">
  <br><br>
  <label for="sport">Sport</label>
  <input id="sport" type="text" name="sport" placeholder="sport">
  <br><br>
  <label for="maxnum">Number of players</label>
  <input id="maxnum" type="number" name="maxnum" placeholder="number">
  <br><br>
  <input id="lat" name="lat" type="hidden">
  <input id="lon" name="lon" type="hidden">
  <br><br>
  <input type="text" id="pac-input" class="controls" placeholder="Enter a location">
  <div id="map"></div>


  <% if (typeof message !== "undefined") { %>
    <div class="error-message"><%= message %></div>
  <% } %>


  <button>Create match</button>


</form>
<script src="https://maps.googleapis.com/maps/api/js?key=<%=process.env.PATH_GMaps%>&libraries=places"></script>
<script src="/javascripts/map.js"></script>
