<div class="new-match">

  <div class="new-match-form">
    <div class="col-md-4">
      <h2>Create a new match</h2>
      <form action="/dashboard/new" method="POST" id="form-container">
        <label for="date">Date:</label>
        <input id="date" type="date" name="date">
        <br><br>
        <label for="sport">Sport:</label>
        <input id="sport" type="text" name="sport">
        <br><br>
        <label for="maxnum">Number of players:</label>
        <input id="maxnum" type="number" name="maxnum">
        <br><br>
        <input id="lat" name="lat" type="hidden">
        <input id="lon" name="lon" type="hidden">
        <br><br>
        <input type="text" id="pac-input" class="controls">
    </div>
    <div class="col-md-8">

      <div id="map"></div>
      <% if (typeof message !== "undefined") { %>
        <div class="error-message">
          <%= message %>
        </div>
        <% } %>
          <br>
          <button class="create-match">Create match</button>
          <br><a class="cancel" href="/dashboard">Cancel</a>

    </div>

    </form>
  </div>

</div>

<script src="https://maps.googleapis.com/maps/api/js?key=<%=process.env.PATH_GMaps%>&libraries=places"></script>
<script src="/javascripts/map.js"></script>
