  <!-- views/auth/signup.ejs -->
<h2>Create a new match</h2>

<form action="/dashboard/new" enctype="multipart/form-data" method="POST" id="form-container">
  <label for="date">Date</label>
  <input id="date" type="date" name="date" placeholder="JonSnow">
  <br><br>
  <label for="sport">Sport</label>
  <input id="sport" type="text" name="sport" placeholder="sport">
  <br><br>
  <label for="maxnum">Number of players</label>
  <input id="maxnum" type="number" name="maxnum" placeholder="number">

  <br><br>



  <% if (typeof message !== "undefined") { %>
    <div class="error-message"><%= message %></div>
  <% } %>


  <button>Create match</button>


</form>
