<h2>Edit a new match</h2>

<form action="/dashboard/view/:id" method="POST" id="form-container">
  <label for="date">Date</label>
  <input id="date" type="date" name="date" value="<%= match.date.toISOString().substring(0,10) %>">
  <br><br>
  <label for="sport">Sport</label>
  <input id="sport" type="text" name="sport" value="<%= match.sport %>">
  <br><br>
  <label for="maxnum">Number of players</label>
  <input id="maxnum" type="number" name="maxnum" placeholder="number" value="<%= match.playersNumber %>">

  <br><br>



  <% if (typeof message !== "undefined") { %>
    <div class="error-message"><%= message %></div>
  <% } %>


  <button>Create match</button>


</form>
