
<h2>Add a comment</h2>

<form action='/dashboard/<%= match.id %>/new-comment' method="POST" id="form-container">
  <textarea id="comment" type="textarea" name="comment" placeholder="Your text here..."></textarea>

  <br><br>

  <button class="create-comment">Add comment</button>

</form>
