
<h2>Add a comment</h2>

<form action="/new-comment" method="POST" id="form-container">
  <textarea id="comment" type="textarea" name="comment" placeholder="Your text here..."></textarea>

  <br><br>

  <button>Create comment</button>

</form>
