<% if(user) { %>
  <div class="menu">
    <a class="link" href="/dashboard">dashboard</a>
    <a class="link" href="/dashboard/new">new match</a>
    <a class="link" href="/edit/<%= user._id %>">edit your profile</a>
  </div>
  <br><br><br>
  <form action="/logout" method="POST">
    <button class="logout">Logout</button>
  </form>

<% }else{ %>
<div class="welcome container">

  <div class="signup">
    <a href="/signup">Signup</a>
  </div>
  <div class="login">
    <a href="/login">Login</a>
  </div>
  <div class="facebook">
    <a href="/auth/facebook">Facebook login</a>
  </div>

</div>
<% } %>
