<% if(!user) { %>
<div class="welcome container">

  <div class="signup">
    <a href="/signup">Signup</a>
  </div>
  <div class="login">
    <a href="/login">Login</a>
  </div>
  <div class="facebook">
    <a href="/auth/facebook">Facebook login</a>
  </div>

</div>
<% } %>
